* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

/* Task1 - Color Switcher  */
.buttons-wrap {
  width: 340px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.color-switch {
  width: 160px;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Task2 - Timer  */
.timer-wrap {
  text-align: center;
  width: 390px;
  margin: 50px auto 0 auto;
  padding: 10;
  background-color: #fff;
  border-radius: 8px;
  outline: 1px solid #212121;
}

.timer__date {
  text-align: center;
  font-weight: 700;
}

.timer {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 5px;
  margin: 0;
  padding: 0;
}

.timer__field {
  display: flex;
  flex-direction: column;
  width: 76px;
}

.timer__value {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: left;
  font-size: 72px;
  font-weight: 500;
  height: 90px;
  padding: 0;
}

.timer__gap {
  padding-top: 20px;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
}

.timer.is-inactive {
  color: #888888;
}

.timer__label {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.timer__control {
  /* display: flex;
  gap: 10px; */
  margin: 20px auto 0 auto;
  width: 320px;
  text-align: center;
}

.timer__btn {
  width: 60px;
  height: 40px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  background-color: #888888;
}

/* Task3 - Promises  */
.form {
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
}

.form--left {
  width: 300px;
  display: grid;
  gap: 30px;

}

.form__label {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.form__submit {
  font-weight: 700;
  height: 30px;
}